section {
    background-color: #2f2f2f88;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first {
    background-image: url('../imgs/Fall.jpeg');
    background-blend-mode: darken;
    background-position-x: 50%;
    background-size: 100vh;
    background-position-y: 30%;
}

.first strong {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 36px;
}

.first p {
    color: white;
    border-top: 1px solid white;
}

.first img {
    position: absolute;
    height: 100vh;
    z-index: -5;
    transform: translateX(-3rem);
    clip: rect(0px, 100%, 100vh, 0px);
}

.second{
    padding-block: 18px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.footer {
    min-height: initial;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: #aaaaaa;
    margin-bottom: 12px;
    font-size: 12px;
}

@media (min-width: 700px) {
    
    .first {
        background-size: 100%;
    }

    .first strong {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        font-size: 102px;
    }

    .first p {
        color: white;
        border-top: 1px solid white;
        font-size: 28px;
    }

    .second {
        background-color: #00000088;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
}