section{
    background-color: #00000088;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first strong{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 36px;
}

.first p{
    color: white;
    border-top: 1px solid white;
}

.first img{
    position: absolute;
    height: 100vh;
    z-index: -5;
    transform: translateX(-3rem);
    clip: rect(0px, 100%, 100vh, 0px);
}

.second .button{
    background-color: #ffffff10;
    border-radius: 30px;
    width: 188px;
    height: 178px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 24px;
}

.second .button svg{
    width: 92px;
    height: 92px;
}

.second .button p{
    padding-top: 12px;
    color: white;
    font-size: 24px;
}

.second p{
    color: #aaaaaa;
    margin-bottom: 12px;
    font-size: 12px;
}

@media (max-width > 700px) {
    section{
        background-color: #00000088;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}