section {
    background-color: #00000088;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first strong {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 36px;
}

.first p {
    color: white;
    border-top: 1px solid white;
}

.first img {
    position: absolute;
    height: 100vh;
    z-index: -5;
    transform: translateX(-3rem);
    clip: rect(0px, 100%, 100vh, 0px);
}

.second Button {
    background-color: #ffffff10;
    border-radius: 30px;
    width: 188px;
    height: 178px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 24px;
    border: none;
}

.second Button svg {
    width: 92px;
    height: 92px;
}

.second Button p {
    padding-top: 12px;
    color: white;
    font-size: 24px;
}

.activated {
    transition: 0.5s;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #ffffff10;
}

.activated svg {
    width: 92px;
    height: 92px;
}

.activated button {
    background-color: #ffffff00;
    text-align: center;
    font-size: 24px;
}

.footer {
    height: fit-content;
}

.footer p {
    color: #aaaaaa;
    margin-bottom: 12px;
    font-size: 12px;
}

@media (min-width: 700px) {
    .second {
        background-color: #00000088;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    main p {
        color: #aaaaaa;
        margin-bottom: 12px;
        font-size: 12px;
        display: block;
    }
}