
.first{
    background: #0f51e0d2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first strong{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 36px;
}

.first p{
    color: white;
    border-top: 1px solid white;
}

