header {
  background: #2f2f2f;
  height: 8vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

header h1 {
  color: white;
  font-size: 32px;
  position: absolute;
}

#bar-button {
  display: block;
  position: absolute;
  right: 12px;
  background-color: #ffffff00;
  border: none;
  color: white;
  font-size: 28px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  text-align: center;
}

#bar-button:hover {
  background-color: #00000020;
}

nav {
  transition: 0.2s ease-in;
  transform: translateY(calc(50% + 3vh));
  background-color: #2f2f2f;
  min-width: 70vw;
  height: 94vh;
  margin-left: 30vw;
  margin-bottom: 0;
  z-index: -1;
}

nav ul {
  height: 100%;
}

nav li {
  list-style: none;
  height: 25%;
}

.nav-link {
  text-decoration: none;
  color: white;
  display: flex;
  font-size: 32px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 48px;
  height: 25%;
}

@media (min-width: 700px) {
  #bar-button {
    display: none;
  }

  header {
    justify-content: space-between;
    padding: unset;
  }

  header h1 {
    position: initial;
    margin: 12px;
  }

  nav {
    transform: none;
    padding: 0;
    margin: 0;
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  nav li {
    height: 100%;
    width: 25%;
  }

  .nav-link {
    flex-direction: row;
    width: fit-content;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: unset;
    padding-inline: 18px;

  }

  .nav-link:hover {
    background-color: #494949;
  }

  nav ul {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    padding-right: 18px;
  }
}