header {
  background: #2f2f2f;
  height: 8vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

header h1 {
  color: white;
  font-size: 32px;
  position: absolute;
}

header button {
  position: absolute;
  right: 12px;
  background-color: #ffffff00;
  border: none;
  color: white;
  font-size: 28px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

header button:hover {
  background-color: #00000020;
}

nav {
  transition: 0.2s ease-in;
  transform: translateY(calc(50% + 3vh));
  background-color: #2f2f2f;
  min-width: 70vw;
  padding-top: 8vh;
  margin-left: 30vw;
  margin-bottom: 0;
  z-index: -1;
}

nav li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  display: flex;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  height: calc(100vh/3 - 5vh);
}

@media (min-width: 700px) {
  header{
    justify-content: space-between;
  }

  header h1{
    position: initial;
  }

  nav {
    transform: none;
    padding: 0;
    margin: 0;
    min-width: none;
    display: flex;
    justify-content: center;
  }

  .nav-link {
    flex-direction: row;
    width: fit-content;
    height: 30px;
    width: 220px;
    justify-content: center;
  }

  nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}