@import './header.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62,5%;
    
}

#introduction{
    background-color: #1e1b24;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction img{
    width: 100%;
    opacity: 60%;
}

#title{
    position: absolute;
    z-index: 1;
    color: white;
}

#title h2{
    font-size: 56px;
}

